# Token bot dari https://discord.com/developers/applications
# PENTING: jangan pernah taruh token langsung di kode .py, taruh hanya di sini
DISCORD_TOKEN=isi_token_bot_disini

# Connection string MongoDB Atlas (Database > Connect > Drivers)
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/?appName=namaApp
